<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Spring Security Example</title>
</head>
<body>
    <h1><b>Admin</b>, welcome spring boot security page!</h1>
    <h2>Добавить пользователя</h2>
    <form action="/user" method="post">
        <table border="1">
            <tr>
                <td><label>Имя пользователя</label></td>
                <td><input type="text" name="name" /></td>
            </tr>
            <tr>
                <td><label>Пароль</label></td>
                <td><input type="password" name="password" /></td>
            </tr>
            <tr>
                <td>firstName:</td>
                <td><input name="firstName"/></td>
            </tr>
            <tr>
                <td>lastName:</td>
                <td><input name="lastName"/></td>
            </tr>
            <tr>
                <td>email:</td>
                <td><input name="email"/></td>
            </tr>
            <tr>

                <td> <label> Roles: </label> </td>
                <td>
                <select size="3" name="role" id="roles" multiple="multiple">
                    <option value="0">ADMIN</option>
                    <option selected value="1">USER</option>
                </select>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Добавить" /></td>
            </tr>
            <th><button><a href="admin/users">Возврат к списку пользователя</a></button></th>
        </table>

    </form>
    <p><a href="/logout">Logout</a></p>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
